USE [master]
GO
/****** Object:  Database [Smart-Grid-Renable-Consultancy]    Script Date: 12/5/2025 3:40:06 AM ******/
CREATE DATABASE [Smart-Grid-Renable-Consultancy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Smart-Grid-Renable-Consultancy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Smart-Grid-Renable-Consultancy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Smart-Grid-Renable-Consultancy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Smart-Grid-Renable-Consultancy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Smart-Grid-Renable-Consultancy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Smart-Grid-Renable-Consultancy]
GO
/****** Object:  Table [dbo].[tbl_Index_Features]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Index_Features](
	[FK_Index_Seo_Id] [int] NULL,
	[Index_Features_Id] [int] IDENTITY(1,1) NOT NULL,
	[Index_Features_Code] [nvarchar](max) NULL,
	[Index_Features_Image] [nvarchar](max) NULL,
	[Index_Features_Title] [nvarchar](max) NULL,
	[Index_Features_Headline1] [nvarchar](max) NULL,
	[Index_Features_SubHeadline1] [nvarchar](max) NULL,
	[Index_Features_Headline2] [nvarchar](max) NULL,
	[Index_Features_SubHeadline2] [nvarchar](max) NULL,
	[Index_Features_Headline3] [nvarchar](max) NULL,
	[Index_Features_SubHeadline3] [nvarchar](max) NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [Pk_Index_Features] PRIMARY KEY CLUSTERED 
(
	[Index_Features_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Index_Seo]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Index_Seo](
	[Index_Seo_Id] [int] IDENTITY(1,1) NOT NULL,
	[Index_Seo_Code] [nvarchar](max) NULL,
	[Index_Seo_Page_Title] [nvarchar](max) NULL,
	[Index_Seo_Meta_Keyword] [nvarchar](max) NULL,
	[Index_Seo_Meta_Description] [nvarchar](max) NULL,
	[Index_Seo_Og_Image] [nvarchar](max) NULL,
	[Index_Seo_Image_Alt_Tag] [nvarchar](max) NULL,
	[Index_Seo_Og_Title] [nvarchar](max) NULL,
	[Index_Seo_Og_Description] [nvarchar](max) NULL,
	[Index_Seo_Slug] [nvarchar](max) NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [Pk_Index_Seo] PRIMARY KEY CLUSTERED 
(
	[Index_Seo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Index_Services]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Index_Services](
	[FK_Index_Seo_Id] [int] NULL,
	[Index_Services_Id] [int] IDENTITY(1,1) NOT NULL,
	[Index_Services_Code] [nvarchar](max) NULL,
	[Index_Services_Icon] [nvarchar](max) NULL,
	[Index_Services_Title] [nvarchar](max) NULL,
	[Index_Services_Description] [nvarchar](max) NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [Pk_Index_Services] PRIMARY KEY CLUSTERED 
(
	[Index_Services_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Index_Slider]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Index_Slider](
	[FK_Index_Seo_Id] [int] NULL,
	[Index_Slider_Id] [int] IDENTITY(1,1) NOT NULL,
	[Index_Slider_Code] [nvarchar](max) NULL,
	[Index_Slider_Image] [nvarchar](max) NULL,
	[Index_Slider_Alt_Tag] [nvarchar](max) NULL,
	[Index_Slider_Headline] [nvarchar](max) NULL,
	[Index_Slider_SubHeadline] [nvarchar](max) NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [Pk_Index_Slider] PRIMARY KEY CLUSTERED 
(
	[Index_Slider_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Index_Team]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Index_Team](
	[FK_Index_Seo_Id] [int] NULL,
	[Index_Team_Id] [int] IDENTITY(1,1) NOT NULL,
	[Index_Team_Member_Name] [nvarchar](max) NULL,
	[Index_Team_Member_Designation] [nvarchar](max) NULL,
	[Index_Team_Member_Image] [nvarchar](max) NULL,
	[Index_Team_Member_Code] [nvarchar](max) NULL,
	[Index_Team_Member_Facebook_Url] [nvarchar](max) NULL,
	[Index_Team_Member_Twitter_Url] [nvarchar](max) NULL,
	[Index_Team_Member_Linkedin_Url] [nvarchar](max) NULL,
	[Index_Team_Member_Instagram_Url] [nvarchar](max) NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [Pk_Tbl_Index_Team] PRIMARY KEY CLUSTERED 
(
	[Index_Team_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](max) NULL,
	[Mobile_No] [nvarchar](max) NULL,
	[Email_Id] [nvarchar](200) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[FK_User_Role_Id] [int] NOT NULL,
	[Is_Locked] [bit] NOT NULL,
	[Last_Login] [datetime] NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User_Role]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User_Role](
	[User_Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Role_Name] [nvarchar](max) NOT NULL,
	[User_Role_Description] [nvarchar](max) NULL,
	[Created_On] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_IP] [nvarchar](max) NULL,
	[Modified_On] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_IP] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_User_Role] PRIMARY KEY CLUSTERED 
(
	[User_Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Index_Features] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_Index_Features] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Index_Seo] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_Index_Seo] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Index_Services] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_Index_Services] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Index_Slider] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_Index_Slider] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Index_Team] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_Index_Team] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (NULL) FOR [Modified_On]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (NULL) FOR [Modified_By]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_User_Role] ADD  DEFAULT (getdate()) FOR [Created_On]
GO
ALTER TABLE [dbo].[tbl_User_Role] ADD  DEFAULT (NULL) FOR [Modified_On]
GO
ALTER TABLE [dbo].[tbl_User_Role] ADD  DEFAULT (NULL) FOR [Modified_By]
GO
ALTER TABLE [dbo].[tbl_User_Role] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_Index_Features]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_Index_Features]
@FK_Index_Seo_Id INT=NULL,
@Index_Features_Code         NVARCHAR(MAX)=NULL,
@Index_Features_Image        NVARCHAR(MAX)=NULL,
@Index_Features_Title        NVARCHAR(MAX)=NULL,
@Index_Features_Headline1    NVARCHAR(MAX)=NULL,
@Index_Features_SubHeadline1 NVARCHAR(MAX)=NULL,
@Index_Features_Headline2    NVARCHAR(MAX)=NULL,
@Index_Features_SubHeadline2 NVARCHAR(MAX)=NULL,
@Index_Features_Headline3    NVARCHAR(MAX)=NULL,
@Index_Features_SubHeadline3 NVARCHAR(MAX)=NULL,


@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	   
   DECLARE @Index_FeaturesId INT
   SELECT @Index_FeaturesId=Index_Features_Id from tbl_Index_Features where Index_Features_Code=@Index_Features_Code AND Is_Active=1
		 
   IF @Index_FeaturesId IS NULL
      BEGIN
         INSERT INTO tbl_Index_Features(
		 FK_Index_Seo_Id,
		 Index_Features_Code,        
		 Index_Features_Image,       
		 Index_Features_Title,       
		 Index_Features_Headline1,   
		 Index_Features_SubHeadline1,
		 Index_Features_Headline2,   
		 Index_Features_SubHeadline2,
		 Index_Features_Headline3,   
		 Index_Features_SubHeadline3,Created_By,Created_IP)

		 VALUES(
		 @FK_Index_Seo_Id,
		 @Index_Features_Code ,       
		 @Index_Features_Image ,      
		 @Index_Features_Title ,      
		 @Index_Features_Headline1 ,  
		 @Index_Features_SubHeadline1,
		 @Index_Features_Headline2   ,
		 @Index_Features_SubHeadline2,
		 @Index_Features_Headline3   ,
		 @Index_Features_SubHeadline3,
		 @Created_By,@Created_IP)
		 SELECT SCOPE_IDENTITY()
      END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : ADD Index Features FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_Index_Seo]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_Index_Seo]
@Index_Seo_Code             NVARCHAR(MAX)=NULL, 
@Index_Seo_Page_Title       NVARCHAR(MAX)=NULL,
@Index_Seo_Meta_Keyword     NVARCHAR(MAX)=NULL,
@Index_Seo_Meta_Description NVARCHAR(MAX)=NULL,
@Index_Seo_Og_Image         NVARCHAR(MAX)=NULL,
@Index_Seo_Image_Alt_Tag    NVARCHAR(MAX)=NULL,
@Index_Seo_Og_Title         NVARCHAR(MAX)=NULL,
@Index_Seo_Og_Description   NVARCHAR(MAX)=NULL,
@Index_Seo_Slug             NVARCHAR(MAX)=NULL,  

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	   
   DECLARE @Index_SeoId INT
   SELECT @Index_SeoId=Index_Seo_Id from tbl_Index_Seo where Index_Seo_Code=@Index_Seo_Code AND Is_Active=1
		 
   IF @Index_SeoId IS NULL
      BEGIN
         INSERT INTO tbl_Index_Seo(
		 Index_Seo_Code,
		 Index_Seo_Page_Title,
		 Index_Seo_Meta_Keyword,
		 Index_Seo_Meta_Description,
		 Index_Seo_Og_Image,
		 Index_Seo_Image_Alt_Tag,
		 Index_Seo_Og_Title,
		 Index_Seo_Og_Description,
		 Index_Seo_Slug,            
		 Created_By,Created_IP)

		 VALUES(
		 @Index_Seo_Code,
		 @Index_Seo_Page_Title,
		 @Index_Seo_Meta_Keyword,
		 @Index_Seo_Meta_Description,
		 @Index_Seo_Og_Image,
		 @Index_Seo_Image_Alt_Tag,
		 @Index_Seo_Og_Title,
		 @Index_Seo_Og_Description,
		 @Index_Seo_Slug,@Created_By,@Created_IP)

		 SELECT SCOPE_IDENTITY()
      END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : ADD Index_Seo FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_Index_Services]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_Index_Services]
@FK_Index_Seo_Id INT=NULL,
@Index_Services_Code          NVARCHAR(MAX)=NULL, 
@Index_Services_Icon          NVARCHAR(MAX)=NULL,
@Index_Services_Title         NVARCHAR(MAX)=NULL,
@Index_Services_Description   NVARCHAR(MAX)=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	   
   DECLARE @Index_ServicesId INT
   SELECT @Index_ServicesId=Index_Services_Id from tbl_Index_Services where Index_Services_Code=@Index_Services_Code AND Is_Active=1
		 
   IF @Index_ServicesId IS NULL
      BEGIN
         INSERT INTO tbl_Index_Services(
		 FK_Index_Seo_Id ,
		 Index_Services_Code,      
		 Index_Services_Icon ,      
		 Index_Services_Title ,     
		 Index_Services_Description,           
		 Created_By,Created_IP)

		 VALUES(
		 @FK_Index_Seo_Id,
		 @Index_Services_Code,      
		 @Index_Services_Icon ,      
		 @Index_Services_Title ,     
		 @Index_Services_Description,
         @Created_By,@Created_IP)
		 SELECT SCOPE_IDENTITY()
      END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : ADD Index Services FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_Index_Slider]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_Index_Slider]
@FK_Index_Seo_Id INT=NULL,
@Index_Slider_Code         NVARCHAR(MAX)=NULL,
@Index_Slider_Image        NVARCHAR(MAX)=NULL,
@Index_Slider_Alt_Tag      NVARCHAR(MAX)=NULL,
@Index_Slider_Headline     NVARCHAR(MAX)=NULL,
@Index_Slider_SubHeadline  NVARCHAR(MAX)=NULL,


@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	   
   DECLARE @Index_SliderId INT
   SELECT @Index_SliderId=Index_Slider_Id from tbl_Index_Slider where Index_Slider_Code=@Index_Slider_Code AND Is_Active=1
		 
   IF @Index_SliderId IS NULL
      BEGIN
         INSERT INTO tbl_Index_Slider(
		 FK_Index_Seo_Id ,
		 Index_Slider_Code,        
		 Index_Slider_Image,       
		 Index_Slider_Alt_Tag ,    
		 Index_Slider_Headline,    
		 Index_Slider_SubHeadline ,
		 Created_By,Created_IP)

		 VALUES(
		 @FK_Index_Seo_Id ,
		 @Index_Slider_Code ,       
		 @Index_Slider_Image ,      
		 @Index_Slider_Alt_Tag ,    
		 @Index_Slider_Headline,    
		 @Index_Slider_SubHeadline ,
		 @Created_By,@Created_IP)
		 SELECT SCOPE_IDENTITY()
      END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : ADD Index Slider FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_Index_Team]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_Index_Team]
@FK_Index_Seo_Id INT=NULL,
@Index_Team_Member_Name          NVARCHAR(MAX)=NULL, 
@Index_Team_Member_Designation   NVARCHAR(MAX)=NULL,
@Index_Team_Member_Image         NVARCHAR(MAX)=NULL,
@Index_Team_Member_Code          NVARCHAR(MAX)=NULL,
@Index_Team_Member_Facebook_Url  NVARCHAR(MAX)=NULL,
@Index_Team_Member_Twitter_Url   NVARCHAR(MAX)=NULL,
@Index_Team_Member_Linkedin_Url  NVARCHAR(MAX)=NULL,
@Index_Team_Member_Instagram_Url NVARCHAR(MAX)=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	   
   DECLARE @Index_TeamId INT
   SELECT @Index_TeamId=Index_Team_Id from tbl_Index_Team where Index_Team_Member_Designation=@Index_Team_Member_Designation AND Is_Active=1
		 
   IF @Index_TeamId IS NULL
      BEGIN
         INSERT INTO tbl_Index_Team(
		 FK_Index_Seo_Id ,
		 Index_Team_Member_Name,         
		 Index_Team_Member_Designation , 
		 Index_Team_Member_Image  , 
		 Index_Team_Member_Code ,
		 Index_Team_Member_Facebook_Url ,
		 Index_Team_Member_Twitter_Url,  
		 Index_Team_Member_Linkedin_Url ,
		 Index_Team_Member_Instagram_Url,
		 Created_By,Created_IP)

		 VALUES(
		 @FK_Index_Seo_Id ,
		 @Index_Team_Member_Name,         
		 @Index_Team_Member_Designation , 
		 @Index_Team_Member_Image  , 
		 @Index_Team_Member_Code ,
		 @Index_Team_Member_Facebook_Url ,
		 @Index_Team_Member_Twitter_Url,  
		 @Index_Team_Member_Linkedin_Url ,
		 @Index_Team_Member_Instagram_Url,
		 @Created_By,@Created_IP)
		 SELECT SCOPE_IDENTITY()
      END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : ADD Index Slider FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_User]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_User]
@User_Name NVARCHAR(MAX)=NULL,
@Mobile_No NVARCHAR(MAX)=NULL,
@Email_Id NVARCHAR(200)=NULL,
@Password VARBINARY(MAX)=NULL,
@FK_User_Role_Id INT=NULL,
@Is_Locked BIT=NULL,
@Last_Login DATETIME=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	   
   DECLARE @User_Id INT
   SELECT @User_Id=User_Id from tbl_User where Email_Id=@Email_Id AND Is_Active=1
		 
   IF @User_Id IS NULL
      BEGIN
         INSERT INTO tbl_User(User_Name,Mobile_No,Email_Id,Password,FK_User_Role_Id,Is_Locked,Last_Login,Created_By,Created_IP)
		 VALUES(@User_Name,@Mobile_No,@Email_Id,@Password,@FK_User_Role_Id,@Is_Locked,@Last_Login,@Created_By,@Created_IP)
		 SELECT SCOPE_IDENTITY()
      END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : ADD USER FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Authenticate_User]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Authenticate_User]
@Email_Id NVARCHAR(200)=NULL,
@Password VARBINARY(MAX)=NULL

AS
BEGIN
BEGIN TRY  
	   		 
   BEGIN
      SELECT * FROM tbl_User U
      INNER JOIN tbl_User_Role UR ON UR.User_Role_Id=U.FK_User_Role_Id
      WHERE U.Email_Id=@Email_Id AND U.Password=@Password
   END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : AUTHENTICATE USER FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Index_Features]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Index_Features]
	@Index_Features_Id INT

AS
BEGIN
BEGIN TRY     
 	
   UPDATE tbl_Index_Features SET Is_Active=0,Modified_On=GETDATE() WHERE Index_Features_Id=@Index_Features_Id
   SELECT @Index_Features_Id

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : DELETE Index Features FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Index_Seo]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Index_Seo]
	@Index_Seo_Id INT

AS
BEGIN
BEGIN TRY     
 	
   UPDATE tbl_Index_Seo SET Is_Active=0,Modified_On=GETDATE() WHERE Index_Seo_Id=@Index_Seo_Id
   SELECT @Index_Seo_Id

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : DELETE Index Seo FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Index_Services]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Index_Services]
	@Index_Services_Id INT

AS
BEGIN
BEGIN TRY     
 	
   UPDATE tbl_Index_Services SET Is_Active=0,Modified_On=GETDATE() WHERE Index_Services_Id=@Index_Services_Id
   SELECT @Index_Services_Id

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : DELETE Index Services FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Index_Slider]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Index_Slider]
		@Index_Slider_Id INT

AS
BEGIN
BEGIN TRY     
 	
   UPDATE tbl_Index_Slider SET Is_Active=0,Modified_On=GETDATE() WHERE Index_Slider_Id=@Index_Slider_Id
   SELECT @Index_Slider_Id

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : DELETE Index Slider FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Index_Team]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Index_Team]
		@Index_Team_Id INT

AS
BEGIN
BEGIN TRY     
 	
   UPDATE tbl_Index_Team SET Is_Active=0,Modified_On=GETDATE() WHERE Index_Team_Id=@Index_Team_Id
   SELECT @Index_Team_Id

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : DELETE Index Team FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_User]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_Delete_User]
@User_Id INT

AS
BEGIN
BEGIN TRY 

   UPDATE tbl_User SET Is_Active=0,Modified_On=GETDATE() WHERE User_Id=@User_Id
   SELECT @User_Id

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : DELETE USER FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_Index_Features]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_Index_Features]
@Index_Features_Id INT = NULL,
@Index_Seo_Id INT = NULL
    
AS
BEGIN
    BEGIN TRY
        IF @Index_Features_Id = 0 SET @Index_Features_Id = NULL
        IF @Index_Seo_Id = 0 SET @Index_Seo_Id = NULL

        SELECT * FROM tbl_Index_Features F
        INNER JOIN tbl_Index_Seo S ON F.FK_Index_Seo_Id = S.Index_Seo_Id
        WHERE F.Index_Features_Id = ISNULL(@Index_Features_Id, F.Index_Features_Id) 
        AND F.FK_Index_Seo_Id = ISNULL(@Index_Seo_Id, F.FK_Index_Seo_Id)             
        AND F.Is_Active=1 ORDER BY Index_Features_Id
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage VARCHAR(MAX); SELECT @ErrorMessage ='SP ERROR : LIST Index Features FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE();   
        RAISERROR (@ErrorMessage, 16, 1);   
    END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_Index_Seo]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_Index_Seo]
@Index_Seo_Id INT=NULL,
@Index_Seo_Slug NVARCHAR(MAX)=NULL
AS
BEGIN    
 BEGIN TRY   

      IF @Index_Seo_Id=0 SET @Index_Seo_Id=NULL
      
      SELECT * FROM tbl_Index_Seo 
      WHERE Index_Seo_Id=ISNULL(@Index_Seo_Id,Index_Seo_Id) 
      AND Index_Seo_Slug=ISNULL(@Index_Seo_Slug,Index_Seo_Slug)
      AND Is_Active=1 ORDER BY Index_Seo_Id DESC

 END TRY   
 BEGIN CATCH    
	DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : LIST Index Seo FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
	RAISERROR (@ErrorMessage, 16, 1)   
 END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_Index_Services]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_Index_Services]
@Index_Services_Id INT = NULL,
@Index_Seo_Id INT = NULL
    
AS
BEGIN
    BEGIN TRY
        IF @Index_Services_Id = 0 SET @Index_Services_Id = NULL
        IF @Index_Seo_Id = 0 SET @Index_Seo_Id = NULL

        SELECT * FROM tbl_Index_Services F
        INNER JOIN tbl_Index_Seo S ON F.FK_Index_Seo_Id = S.Index_Seo_Id
        WHERE F.Index_Services_Id = ISNULL(@Index_Services_Id, F.Index_Services_Id) 
        AND F.FK_Index_Seo_Id = ISNULL(@Index_Seo_Id, F.FK_Index_Seo_Id)             
        AND F.Is_Active=1 ORDER BY Index_Services_Id
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage VARCHAR(MAX); SELECT @ErrorMessage ='SP ERROR : LIST Index Services FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE();   
        RAISERROR (@ErrorMessage, 16, 1);   
    END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_Index_Slider]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_Index_Slider]
@Index_Slider_Id INT = NULL,
@Index_Seo_Id INT = NULL
    
AS
BEGIN
    BEGIN TRY
        IF @Index_Slider_Id = 0 SET @Index_Slider_Id = NULL
        IF @Index_Seo_Id = 0 SET @Index_Seo_Id = NULL

        SELECT * FROM tbl_Index_Slider F
        INNER JOIN tbl_Index_Seo S ON F.FK_Index_Seo_Id = S.Index_Seo_Id
        WHERE F.Index_Slider_Id = ISNULL(@Index_Slider_Id, F.Index_Slider_Id) 
        AND F.FK_Index_Seo_Id = ISNULL(@Index_Seo_Id, F.FK_Index_Seo_Id)             
        AND F.Is_Active=1 ORDER BY Index_Slider_Id
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage VARCHAR(MAX); SELECT @ErrorMessage ='SP ERROR : LIST Index Slider FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE();   
        RAISERROR (@ErrorMessage, 16, 1);   
    END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_Index_Team]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_Index_Team]
@Index_Team_Id INT = NULL,
@Index_Seo_Id INT = NULL
    
AS
BEGIN
    BEGIN TRY
        IF @Index_Team_Id = 0 SET @Index_Team_Id = NULL
        IF @Index_Seo_Id = 0 SET @Index_Seo_Id = NULL

        SELECT * FROM tbl_Index_Team F
        INNER JOIN tbl_Index_Seo S ON F.FK_Index_Seo_Id = S.Index_Seo_Id
        WHERE F.Index_Team_Id = ISNULL(@Index_Team_Id, F.Index_Team_Id) 
        AND F.FK_Index_Seo_Id = ISNULL(@Index_Seo_Id, F.FK_Index_Seo_Id)             
        AND F.Is_Active=1 ORDER BY Index_Team_Id
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage VARCHAR(MAX); SELECT @ErrorMessage ='SP ERROR : LIST Index Team FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE();   
        RAISERROR (@ErrorMessage, 16, 1);   
    END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_User]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_User]
@User_Id INT=NULL,
@User_Role_Id INT=NULL,
@Mobile_No NVARCHAR(MAX)=NULL,
@Email_Id NVARCHAR(MAX)=NULL,
@User_Name NVARCHAR(MAX)=NULL

AS   
SET NOCOUNT ON    
BEGIN    
BEGIN TRY   

   BEGIN   

      IF @User_Id=0 SET @User_Id=NULL
      IF @User_Role_Id=0 SET @User_Role_Id=NULL
      IF @Email_Id='' SET @Email_Id=NULL

      SELECT *, CAST(U.Password AS VARCHAR(MAX)) AS Password_String FROM tbl_User U
      INNER JOIN tbl_User_Role UR ON UR.User_Role_Id=U.FK_User_Role_Id
      WHERE U.User_Id=ISNULL(@User_Id,U.User_Id) 
      AND U.FK_User_Role_Id=ISNULL(@User_Role_Id,U.FK_User_Role_Id) 
      AND U.Mobile_No=ISNULL(@Mobile_No,U.Mobile_No) 
      AND U.Email_Id=ISNULL(@Email_Id,U.Email_Id) 
      AND U.User_Name=ISNULL(@User_Name,U.User_Name) 

      AND U.Is_Active=1 
      ORDER BY U.User_Id

   END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : LIST USER FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_List_User_Role]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_List_User_Role]
@User_Role_Id INT=NULL
AS   
SET NOCOUNT ON    
BEGIN    
BEGIN TRY   

   BEGIN  
 
      IF @User_Role_Id=0 SET @User_Role_Id=NULL
      SELECT * FROM tbl_User_Role
      WHERE User_Role_Id=ISNULL(@User_Role_Id,User_Role_Id) AND Is_Active=1
      ORDER BY User_Role_Id
   END

END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : LIST USER ROLE FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Index_Features]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Index_Features]
@FK_Index_Seo_Id INT=NULL,
@Index_Features_Id               INT=NULL,
@Index_Features_Code         NVARCHAR(MAX)=NULL,
@Index_Features_Image        NVARCHAR(MAX)=NULL,
@Index_Features_Title        NVARCHAR(MAX)=NULL,
@Index_Features_Headline1    NVARCHAR(MAX)=NULL,
@Index_Features_SubHeadline1 NVARCHAR(MAX)=NULL,
@Index_Features_Headline2    NVARCHAR(MAX)=NULL,
@Index_Features_SubHeadline2 NVARCHAR(MAX)=NULL,
@Index_Features_Headline3    NVARCHAR(MAX)=NULL,
@Index_Features_SubHeadline3 NVARCHAR(MAX)=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
         UPDATE tbl_Index_Features SET 
         FK_Index_Seo_Id             =@FK_Index_Seo_Id ,
         Index_Features_Image        =@Index_Features_Image        ,
         Index_Features_Title        =@Index_Features_Title        ,
         Index_Features_Headline1    =@Index_Features_Headline1    ,
         Index_Features_SubHeadline1 =@Index_Features_SubHeadline1 ,
         Index_Features_Headline2    =@Index_Features_Headline2    ,
         Index_Features_SubHeadline2 =@Index_Features_SubHeadline2 ,
         Index_Features_Headline3    =@Index_Features_Headline3    ,
         Index_Features_SubHeadline3 =@Index_Features_SubHeadline3 ,              
		 Modified_On=@Modified_On,Modified_IP=@Modified_IP,Modified_By=@Modified_By

		WHERE Index_Features_Id=@Index_Features_Id 
        SELECT @Index_Features_Id
END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : UPDATE Index Features FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Index_Seo]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Index_Seo]
@Index_Seo_Id               INT=NULL,
@Index_Seo_Code             NVARCHAR(MAX)=NULL, 
@Index_Seo_Page_Title       NVARCHAR(MAX)=NULL,
@Index_Seo_Meta_Keyword     NVARCHAR(MAX)=NULL,
@Index_Seo_Meta_Description NVARCHAR(MAX)=NULL,
@Index_Seo_Og_Image         NVARCHAR(MAX)=NULL,
@Index_Seo_Image_Alt_Tag    NVARCHAR(MAX)=NULL,
@Index_Seo_Og_Title         NVARCHAR(MAX)=NULL,
@Index_Seo_Og_Description   NVARCHAR(MAX)=NULL,
@Index_Seo_Slug             NVARCHAR(MAX)=NULL, 

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
         UPDATE tbl_Index_Seo SET 
         Index_Seo_Page_Title       =@Index_Seo_Page_Title       ,
         Index_Seo_Meta_Keyword     =@Index_Seo_Meta_Keyword     ,
         Index_Seo_Meta_Description =@Index_Seo_Meta_Description ,
         Index_Seo_Og_Image         =@Index_Seo_Og_Image         ,
         Index_Seo_Image_Alt_Tag    =@Index_Seo_Image_Alt_Tag    ,
         Index_Seo_Og_Title         =@Index_Seo_Og_Title         ,
         Index_Seo_Og_Description   =@Index_Seo_Og_Description   ,
         Index_Seo_Slug             =@Index_Seo_Slug             , 
		 Modified_On=@Modified_On,Modified_IP=@Modified_IP,Modified_By=@Modified_By

		WHERE Index_Seo_Id=@Index_Seo_Id 
        SELECT @Index_Seo_Id
END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : UPDATE Index Seo FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Index_Services]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Index_Services]
@FK_Index_Seo_Id INT=NULL,
@Index_Services_Id               INT=NULL,
@Index_Services_Code          NVARCHAR(MAX)=NULL, 
@Index_Services_Icon          NVARCHAR(MAX)=NULL,
@Index_Services_Title         NVARCHAR(MAX)=NULL,
@Index_Services_Description   NVARCHAR(MAX)=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
         UPDATE tbl_Index_Services SET 
         FK_Index_Seo_Id =@FK_Index_Seo_Id ,
         Index_Services_Icon         =@Index_Services_Icon        ,
         Index_Services_Title        =@Index_Services_Title       ,
         Index_Services_Description  =@Index_Services_Description ,
		 Modified_On=@Modified_On,Modified_IP=@Modified_IP,Modified_By=@Modified_By

		WHERE Index_Services_Id=@Index_Services_Id 
        SELECT @Index_Services_Id
END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : UPDATE Index Services FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Index_Slider]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Index_Slider]
@FK_Index_Seo_Id INT=NULL,
@Index_Slider_Id           INT=NULL,
@Index_Slider_Code         NVARCHAR(MAX)=NULL,
@Index_Slider_Image        NVARCHAR(MAX)=NULL,
@Index_Slider_Alt_Tag      NVARCHAR(MAX)=NULL,
@Index_Slider_Headline     NVARCHAR(MAX)=NULL,
@Index_Slider_SubHeadline  NVARCHAR(MAX)=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
         UPDATE tbl_Index_Slider SET 
         FK_Index_Seo_Id =@FK_Index_Seo_Id ,
         Index_Slider_Image       =@Index_Slider_Image       ,
         Index_Slider_Alt_Tag     =@Index_Slider_Alt_Tag     ,
         Index_Slider_Headline    =@Index_Slider_Headline    ,
         Index_Slider_SubHeadline =@Index_Slider_SubHeadline ,
		 Modified_On=@Modified_On,Modified_IP=@Modified_IP,Modified_By=@Modified_By

		WHERE Index_Slider_Id=@Index_Slider_Id 
        SELECT @Index_Slider_Id
END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : UPDATE Index Slider FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Index_Team]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Index_Team]
@Index_Team_Id                   INT=NULL,
@FK_Index_Seo_Id                 INT=NULL,
@Index_Team_Member_Name          NVARCHAR(MAX)=NULL, 
@Index_Team_Member_Code          NVARCHAR(MAX)=NULL,
@Index_Team_Member_Designation   NVARCHAR(MAX)=NULL,
@Index_Team_Member_Image         NVARCHAR(MAX)=NULL,
@Index_Team_Member_Facebook_Url  NVARCHAR(MAX)=NULL,
@Index_Team_Member_Twitter_Url   NVARCHAR(MAX)=NULL,
@Index_Team_Member_Linkedin_Url  NVARCHAR(MAX)=NULL,
@Index_Team_Member_Instagram_Url NVARCHAR(MAX)=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
         UPDATE tbl_Index_Team SET 
         FK_Index_Seo_Id                 =@FK_Index_Seo_Id ,
         Index_Team_Member_Name          =@Index_Team_Member_Name         , 
         Index_Team_Member_Designation   =@Index_Team_Member_Designation  ,
         Index_Team_Member_Image         =@Index_Team_Member_Image        ,
         Index_Team_Member_Facebook_Url  =@Index_Team_Member_Facebook_Url ,
         Index_Team_Member_Twitter_Url   =@Index_Team_Member_Twitter_Url  ,
         Index_Team_Member_Linkedin_Url  =@Index_Team_Member_Linkedin_Url ,
         Index_Team_Member_Instagram_Url=@Index_Team_Member_Instagram_Url ,
		 Modified_On=@Modified_On,Modified_IP=@Modified_IP,Modified_By=@Modified_By

		WHERE Index_Team_Id=@Index_Team_Id 
        SELECT @Index_Team_Id
END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : UPDATE Index Team FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_User]    Script Date: 12/5/2025 3:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_User]
@User_Id INT=NULL,
@User_Name NVARCHAR(MAX)=NULL,
@Mobile_No NVARCHAR(MAX)=NULL,
@Email_Id NVARCHAR(200)=NULL,
@Password VARBINARY(MAX)=NULL,
@FK_User_Role_Id INT=NULL,
@Is_Locked BIT=NULL,
@Last_Login DATETIME=NULL,

@Created_On DATETIME=NULL,
@Created_By INT=NULL,
@Created_IP NVARCHAR(MAX)=NULL,
@Modified_On DATETIME=NULL,
@Modified_By INT=NULL,
@Modified_IP NVARCHAR(MAX)=NULL,
@Is_Active BIT=NULL

AS
BEGIN
BEGIN TRY  
	
           UPDATE tbl_User SET User_Name=@User_Name,
                               Mobile_No=@Mobile_No,
                               Email_Id=@Email_Id, 
                               Password=@Password, 
                               FK_User_Role_Id=@FK_User_Role_Id,
                               Is_Locked=@Is_Locked,
                               Last_Login=@Last_Login,

                               Modified_On=@Modified_On,
                               Modified_By=@Modified_By,
                               Modified_IP=@Modified_IP
                         WHERE User_Id=@User_Id
   SELECT @User_Id
                      
END TRY   
BEGIN CATCH    
   DECLARE @ErrorMessage VARCHAR(MAX);    
   SELECT @ErrorMessage ='SP ERROR : UPDATE USER FAILED' + Char(13) + Char(10) + 'THE ERROR WAS : ' + Char(13) + Char(10) + ERROR_MESSAGE()   
   RAISERROR (@ErrorMessage, 16, 1)   
END CATCH
END
GO
USE [master]
GO
