<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Consulting Finance Corporate Business - Consulting HTML Template">
    <meta name="keywords" content="consulting, accountant, advisor, audit, beaver builder, broker, business, clean, company, consulting, corporate, finance, financial, insurance, trader">
    <meta name="author" content="Themexriver">
    <title>Finano Consulting HTML Template | Homepage Five</title>
    <!-- Stylesheets -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/Content/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="~/Content/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="~/Content/js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>
        <!--Header-->
        @Html.Action("Header", "Home")
        <!--Body-->
        @RenderBody()
        <!--Main Footer-->
        @Html.Action("Footer", "Home")
    </div>
    <!--End pagewrapper-->

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/appear.js"></script>
    <script src="~/Content/js/owl.js"></script>
    <script src="~/Content/js/wow.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/main.js"></script>
    <!--Google Map APi Key-->
    <script src="~/Content/http://maps.google.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
    <script src="~/Content/js/map-script.js"></script>
    <!--End Google Map APi-->
</body>
</html>