<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="DefConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Smart-Grid-Renable-Consultancy-new;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--<add name="DefConn" connectionString="Data Source=LAPTOP-4UEPG7K0;Initial Catalog=Smart-Grid-Renable-Consultancy-new;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<!--<customErrors mode="On" defaultRedirect="https://sgrc.com/product">
			<error statusCode="400" redirect="https://sgrc.com/product"/>
			<error statusCode="401" redirect="https://sgrc.com/product"/>
			<error statusCode="403" redirect="https://sgrc.com/product"/>
			<error statusCode="404" redirect="https://sgrc.com/product"/>
			<error statusCode="500" redirect="https://sgrc.com/product"/>
		</customErrors>-->
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime maxRequestLength="3000000" targetFramework="4.5.2"/>
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Redirect /Home/Home to / -->
				<rule name="Redirect Home/Home" stopProcessing="true">
					<match url="^Home/Home$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/CompanyOverview to /company-overview -->
				<rule name="Redirect Home/CompanyOverview" stopProcessing="true">
					<match url="^Home/CompanyOverview$" ignoreCase="true" />
					<action type="Redirect" url="/company-overview" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/OurManagement to /our-management -->
				<rule name="Redirect Home/OurManagement" stopProcessing="true">
					<match url="^Home/OurManagement$" ignoreCase="true" />
					<action type="Redirect" url="/our-management" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/MissionVision to /our-mission -->
				<rule name="Redirect Home/MissionVision" stopProcessing="true">
					<match url="^Home/MissionVision$" ignoreCase="true" />
					<action type="Redirect" url="/our-mission" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Clients to /our-clients -->
				<rule name="Redirect Home/Clients" stopProcessing="true">
					<match url="^Home/Clients$" ignoreCase="true" />
					<action type="Redirect" url="/our-clients" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Testimonials to /client-feedback -->
				<rule name="Redirect Home/Testimonials" stopProcessing="true">
					<match url="^Home/Testimonials$" ignoreCase="true" />
					<action type="Redirect" url="/client-feedback" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Certificates to /company-certificates -->
				<rule name="Redirect Home/Certificates" stopProcessing="true">
					<match url="^Home/Certificates$" ignoreCase="true" />
					<action type="Redirect" url="/company-certificates" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Awards to /awards -->
				<rule name="Redirect Home/Awards" stopProcessing="true">
					<match url="^Home/Awards$" ignoreCase="true" />
					<action type="Redirect" url="/awards" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Events to /company-events -->
				<rule name="Redirect Home/Events" stopProcessing="true">
					<match url="^Home/Events$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/company-events" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/PrivacyPolicy to /privacy-policy -->
				<rule name="Redirect Home/PrivacyPolicy" stopProcessing="true">
					<match url="^Home/PrivacyPolicy$" ignoreCase="true" />
					<action type="Redirect" url="/privacy-policy" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Termsofuse to /terms-of-use -->
				<rule name="Redirect Home/Termsofuse" stopProcessing="true">
					<match url="^Home/Termsofuse$" ignoreCase="true" />
					<action type="Redirect" url="/terms-of-use" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Disclaimer to /disclaimer -->
				<rule name="Redirect Home/Disclaimer" stopProcessing="true">
					<match url="^Home/Disclaimer$" ignoreCase="true" />
					<action type="Redirect" url="/disclaimer" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Career to /career -->
				<rule name="Redirect Home/Career" stopProcessing="true">
					<match url="^Home/Career$" ignoreCase="true" />
					<action type="Redirect" url="/career" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/NewsRoom to /news -->
				<rule name="Redirect Home/NewsRoom" stopProcessing="true">
					<match url="^Home/NewsRoom$" ignoreCase="true" />
					<action type="Redirect" url="/news" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Contact to /contact-us -->
				<rule name="Redirect Home/Contact" stopProcessing="true">
					<match url="^Home/Contact$" ignoreCase="true" />
					<action type="Redirect" url="/contact-us" redirectType="Permanent" />
				</rule>
				<rule name="Redirect /contact to /contact-us" stopProcessing="true">
					<match url="^contact$" ignoreCase="true" />
					<action type="Redirect" url="/contact-us" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/PartnerWithUs to /partner-with-us -->
				<rule name="Redirect Home/PartnerWithUs" stopProcessing="true">
					<match url="^Home/PartnerWithUs$" ignoreCase="true" />
					<action type="Redirect" url="/partner-with-us" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Customer/Thankyou to /thank-you -->
				<rule name="Redirect Customer/ThankYou to /thank-you" stopProcessing="true">
					<match url="^Customer/ThankYou$" ignoreCase="true" />
					<action type="Redirect" url="/thank-you" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Sitemap/Index to /sitemap.xml -->
				<rule name="Redirect Sitemap/Index to /sitemap.xml" stopProcessing="true">
					<match url="^Sitemap/Index$" ignoreCase="true" />
					<action type="Redirect" url="/sitemap.xml" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Sitemap/SitemapHtml to /sitemap.html -->
				<rule name="Redirect Sitemap/SitemapHtml to /sitemap.html" stopProcessing="true">
					<match url="^Sitemap/SitemapHtml$" ignoreCase="true" />
					<action type="Redirect" url="/sitemap.html" redirectType="Permanent" />
				</rule>
				<!--Redirect /LandingPage/DsaSoftware to /dsa-software-->
				<rule name="Redirect LandingPage/DsaSoftware" stopProcessing="true">
					<match url="^LandingPage/DsaSoftware$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/dsa-software" redirectType="Permanent" />
				</rule>
				<!--Redirect /LandingPage/MLMSoftware to /mlm-software-->
				<rule name="Redirect LandingPage/MLMSoftware" stopProcessing="true">
					<match url="^LandingPage/MLMSoftware$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/mlm-software" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/WebsiteServices to /website-design-development-->
				<rule name="Redirect Services/WebsiteServices" stopProcessing="true">
					<match url="^Services/WebsiteServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/website-design-development" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/EcommerceServices to /ecommerce-website-design-development-->
				<rule name="Redirect Services/EcommerceServices" stopProcessing="true">
					<match url="^Services/EcommerceServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/ecommerce-website-design-development" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/B2BEcommerceServices to /b2b-ecommerce-software-development-->
				<rule name="Redirect Services/B2BEcommerceServices" stopProcessing="true">
					<match url="^Services/B2BEcommerceServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/b2b-ecommerce-software-development" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/B2CEcommerceServices to /b2c-ecommerce-software-development-->
				<rule name="Redirect Services/B2CEcommerceServices" stopProcessing="true">
					<match url="^Services/B2CEcommerceServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/b2c-ecommerce-software-development" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/PortalServices to /portal-development-->
				<rule name="Redirect Services/PortalServices" stopProcessing="true">
					<match url="^Services/PortalServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/portal-development" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/SoftwareServices to /software-development-company-->
				<rule name="Redirect Services/SoftwareServices" stopProcessing="true">
					<match url="^Services/SoftwareServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/software-development-company" redirectType="Permanent" />
				</rule>
				<!--Redirect /Services/DirectoryServices to /custom-search-portal-->
				<rule name="Redirect Services/DirectoryServices" stopProcessing="true">
					<match url="^Services/DirectoryServices$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/custom-search-portal" redirectType="Permanent" />
				</rule>
				<!--Redirect /LandingPage/QuickApply to /quick-apply-->
				<rule name="Redirect LandingPage/QuickApply" stopProcessing="true">
					<match url="^LandingPage/QuickApply" ignoreCase="true" />
					<action type="Redirect" url="/quick-apply" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Product to /product -->
				<rule name="Redirect Home/Product" stopProcessing="true">
					<match url="^Home/Product$" ignoreCase="true" />
					<action type="Redirect" url="/product" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/ProductDetail to /product/{product}" stopProcessing="true">
					<match url="^Home/ProductDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^product=([^&amp;]+)" />
					</conditions>
					<action type="Redirect" url="/product/{C:1}" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/ProductDetail (path-based) to /product/{product}" stopProcessing="true">
					<match url="^Home/ProductDetail/(.+)$" ignoreCase="true" />
					<action type="Redirect" url="/product/{R:1}" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Industries to /industries -->
				<rule name="Redirect Home/Industries" stopProcessing="true">
					<match url="^Home/Industries$" ignoreCase="true" />
					<action type="Redirect" url="/industries" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/IndustriesDetail to /industries/{industries}" stopProcessing="true">
					<match url="^Home/IndustriesDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^industries=([^&amp;]+)" />
					</conditions>
					<action type="Redirect" url="/industries/{C:1}" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/IndustriesDetail (path-based) to /industries/{industries}" stopProcessing="true">
					<match url="^Home/Industries/(.+)$" ignoreCase="true" />
					<action type="Redirect" url="/industries/{R:1}" redirectType="Permanent" />
				</rule>
				<!-- Redirect /Home/Blog to /blog -->
				<rule name="Redirect Home/Blog" stopProcessing="true">
					<match url="^Home/Blog$" ignoreCase="true" />
					<action type="Redirect" url="/blog" redirectType="Permanent" />
				</rule>
				<rule name="Redirect BlogDetail with query to slug path" stopProcessing="true">
					<match url="^Home/BlogDetail$" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^blog=([^&amp;]+)$" />
					</conditions>
					<action type="Redirect" url="/{C:1}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect Home/Blog (category) to /category/{category}" stopProcessing="true">
					<match url="^Home/Blog$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^category=([^&amp;]+)" />
					</conditions>
					<action type="Redirect" url="/category/{C:1}" redirectType="Permanent" />
				</rule>
				<!--Start Page listed in google and not exist in project-->
				<rule name="Redirect Home/DigitalExamSoftware" stopProcessing="true">
					<match url="^Home/DigitalExamSoftware$" ignoreCase="true" />
					<action type="Redirect" url="/product/digital-exam-service" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/DSALoanManagement" stopProcessing="true">
					<match url="^Home/DSALoanManagement$" ignoreCase="true" />
					<action type="Redirect" url="/product/dsa-loan-management-software" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/RetailSoftware" stopProcessing="true">
					<match url="^Home/RetailSoftware$" ignoreCase="true" />
					<action type="Redirect" url="/product/multi-branch-retail-software" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/Banking" stopProcessing="true">
					<match url="^Home/Banking$" ignoreCase="true" />
					<action type="Redirect" url="/industries/banking-solutions" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Home/Blogs with Category" stopProcessing="true">
					<match url="^Home/Blogs$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^Blog_Category_Id=2$" />
					</conditions>
					<action type="Redirect" url="/blog" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect BlogDetail mlm-erp-software" stopProcessing="true">
					<match url="^Home/BlogDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^Blog=mlm-erp-software$" />
					</conditions>
					<action type="Redirect" url="/industries/mlm-software" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect BlogDetail best-microfinance-software" stopProcessing="true">
					<match url="^Home/BlogDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^Blog=best-microfinance-software$" />
					</conditions>
					<action type="Redirect" url="/product/microfinance-software" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect BlogDetail College-ERP-Software" stopProcessing="true">
					<match url="^Home/BlogDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^Blog=College-ERP-Software$" />
					</conditions>
					<action type="Redirect" url="/product/college-erp-software" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect BlogDetail Best-ERP-Software-Company-In-Kolkata" stopProcessing="true">
					<match url="^Home/BlogDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^Blog=Best-ERP-Software-Company-In-Kolkata$" />
					</conditions>
					<action type="Redirect" url="/blog" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect BlogDetail travel-software-flight" stopProcessing="true">
					<match url="^Home/BlogDetail$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="^Blog=travel-software-flight-bus-hotel-cab-renu-sb-creation$" />
					</conditions>
					<action type="Redirect" url="/blog" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect Home/EventDetail" stopProcessing="true">
					<match url="^Home/EventDetail$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_X_REQUESTED_WITH}" pattern="XMLHttpRequest" negate="true" />
					</conditions>
					<action type="Redirect" url="/company-events" redirectType="Permanent" />
				</rule>

				<!--End Page listed in google and not exist in project-->

			</rules>
		</rewrite>
		<staticContent>
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent>

		<handlers>
			<add name="SitemapHandler" path="sitemap.xml" verb="*" type="System.Web.Mvc.MvcHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="HtmlRouting" path="*.html" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<httpProtocol>
			<customHeaders>
				<remove name="Content-Security-Policy" />
				<remove name="Content-Security-Policy" />
				<add name="Content-Security-Policy" value="
                   default-src 'self' http://sgrc.com;
                   img-src 'self' data: https:;
                   font-src 'self' data:;
                   frame-src https://www.youtube.com https://www.google.com https://www.recaptcha.net;
                   script-src 'self' 'unsafe-inline' https://www.gstatic.com https://www.google.com https://www.recaptcha.net https://www.youtube.com;
                   style-src 'self' 'unsafe-inline' https:;
                 " />
			</customHeaders>
		</httpProtocol>-->

	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>