<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="defconn" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=smart-grid-renable-consultancy-new;integrated security=true" providerName="system.data.sqlclient" />
		<!--<add name="DefConn" connectionString="Data Source=LAPTOP-4UEPG7K0;Initial Catalog=Smart-Grid-Renable-Consultancy-new;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<!--<customErrors mode="On" defaultRedirect="https://sgrc.com/product">
			<error statusCode="400" redirect="https://sgrc.com/product"/>
			<error statusCode="401" redirect="https://sgrc.com/product"/>
			<error statusCode="403" redirect="https://sgrc.com/product"/>
			<error statusCode="404" redirect="https://sgrc.com/product"/>
			<error statusCode="500" redirect="https://sgrc.com/product"/>
		</customErrors>-->
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime maxRequestLength="3000000" targetFramework="4.5.2"/>
	</system.web>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent>
		<handlers>
			<add name="SitemapHandler" path="sitemap.xml" verb="*" type="System.Web.Mvc.MvcHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="HtmlRouting" path="*.html" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<httpProtocol>
			<customHeaders>
				<remove name="Content-Security-Policy" />
				<remove name="Content-Security-Policy" />
				<add name="Content-Security-Policy" value="
                   default-src 'self' http://sgrc.com;
                   img-src 'self' data: https:;
                   font-src 'self' data:;
                   frame-src https://www.youtube.com https://www.google.com https://www.recaptcha.net;
                   script-src 'self' 'unsafe-inline' https://www.gstatic.com https://www.google.com https://www.recaptcha.net https://www.youtube.com;
                   style-src 'self' 'unsafe-inline' https:;
                 " />
			</customHeaders>
		</httpProtocol>-->

	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>